body {
    background-color: rgb(36, 34, 34);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-style: normal;
    font-size: larger;
    justify-content: center;
   

}

h1 {
    display: flex;
    padding: 0.6em;
    margin: auto; 
    border: 0.5em;
    border-radius: 0.8em;
    width: 50%;
    background-color: rgb(127, 112, 76);
    font-size: xx-large;
    height: 70px;
    justify-content: center;
    font-family: monospace;

}


h2 {

    display: flex;
    justify-content: center;
    font-size: large;
    font-style: italic;
}


ul,a {
    color: white;
    margin: 1.0em;
    padding: 0.2em;
    border: 2px solid white;
    background: rgb(81, 67, 35);
    border-radius: 0.8em;
    transition: 350ms ease;
    font-size: x-large;
    list-style: none;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    

}


a:hover{
    background: rgb(124, 122, 122);
    transform: scale(1.3);

}

a:focus {
border: 3px solid white;
}

a:active {
background: orange;
}


li {
    margin-right: 2em;
    justify-content: center;
    width: 100%;
}


p {
    font-size: large;
    
}


.listennow  p {
    background: rgb(98, 96, 96);
    border: 0.6em;
    border-radius: 0.8em;
    
}


.listennow h2 {
    background: rgb(110, 95, 58);
    width: 50%;
    border: 0.6em;
    border-radius: 0.8em;
}

.listennow img {
    width: 50%;
}


.alleafleveringen h2{
    width: 60%;
    border-radius: 0.6em;
    background: rgb(110, 95, 58);
}

.alleafleveringen img{
    width: 20%;
}

.alleafleveringen p {
    background: rgb(98, 96, 96);
    border: 0.6em;
    border-radius: 0.8em;

}


.recencies {
    padding: 2em;
    border: 0.3em;
    border-radius: 5px;
    margin: 2em;
    background-color: rgb(127, 112, 76);
}

.recensie2 {
    padding: 2em;
    border: 0.3em;
    border-radius: 5px;
    margin: 2em;
    width: 60%;
    background-color: rgb(127, 112, 76);

}

.recensie3 {
    padding: 2em;
    border: 0.3em;
    border-radius: 5px;
    margin: 2em;
    width: 60%;
    background-color: rgb(127, 112, 76);
}

.overons img {
    width: 30%;
    border-radius: 0.5em;
    
}

.overons h2 {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    color: black;
    display: flex;
    background: lightgray;
    
}



main {
    width: 50%;
}

img {
 display: flex;
 justify-content: center;
 width: 70%;
 border: 0.5em;
 border-radius: 1.0em;
 padding: 0.4em;
}

section div {
    display: flex;
    justify-content: center;
}

.contact img {
    width: 40%;
    display: flex;

}

footer {
    display: flex;
    justify-content: center;
    
    
}